
canvas {
    background-image: url(../imgs/space-pixels.jpg);
    /* background-repeat: repeat; */ 
    /* background-color: black; */
    width: 600px;
    height: 625px;
}

h2 {
    text-align: center;
    color: chartreuse;
    font-family: 'Wallpoet', cursive;
    font-size: 2rem; 
    
}

#container {
    width: 600px;
    height: 750px;
    background-color: darkmagenta;
    margin: 0 auto;
    padding: 1em;
}
