
canvas {
    background-image: url(../imgs/space-pixels.jpg);
    width: 600px;
    height: 625px;
}

.start-button {
    text-align: center;
    color: lawngreen;
    background-color: darkmagenta;
    font-family: 'Wallpoet', cursive;
    font-size: 3rem;
    margin-bottom: 20px;
    border-radius: 10px;
    cursor: crosshair;
    
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 600px;
    height: 725px;
    background-color: darkorchid;
    margin: 0 auto;
    padding: 1em;
    border-radius: 15px;
}

body {
    background-image: url(../imgs/planet-pixels.jpg);
    background-size: 120%;
}

h4 {
    color: cyan;
    font-family: 'Audiowide', cursive;
    margin-top: 0;
}

p {
    text-align: center;
    color: white;
    font-family: 'Audiowide', cursive;
    justify-content: center;
    line-height: 0.5;
}

button {
    color: cyan;
    font-family: 'VT323', monospace;
    float: right;
    margin-top: 0;
    background-color: darkmagenta;
    border-radius: 5px;
    font-size: 20px;
}