
canvas {
    background-image: url(../imgs/space-pixels.jpg);
    /* background-repeat: repeat; */ 
    /* background-color: black; */
    width: 600px;
    height: 625px;
}

button {
    text-align: center;
    color: chartreuse;
    background-color: darkmagenta;
    font-family: 'Wallpoet', cursive;
    font-size: 3rem;
    margin-bottom: 20px;
    
}

.start-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    width: 600px;
    height: 725px;
    background-color: darkorchid;
    margin: 0 auto;
    padding: 1em;
    border-radius: 15px;
}

body {
    background-image: url(../imgs/planet-pixels.jpg);
    background-size: 100%;
}

p {
    text-align: center;
    color: white;
    font-family: 'Audiowide', cursive;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}